/*käytettyjä värejä #A2F9A8; #72F67B
https://www.canva.com/colors/color-wheel/
*/

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(144, 238, 144, 0.333);
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    width:100%;
}

body {
    text-align: left;
}

footer{
    background-color: #A2F9A8;
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:40px;
}

header {
    background-image: url(./kuvat/peikko.jpg);
    height:300px;
    width:100%;
}

.col-12{
    text-align: center;
    color: rgb(9, 131, 27);
    background-color: rgba(144, 238, 144, 0.333);
}